<h1>New match rule for <%= @organization.name.humanize %></h1>
<%= form_for([@organization, @match_rule], url: match_rules_organization_path) do |f| %>
  <% if @match_rule.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@match_rule.errors.count, "error") %> prohibited
        this@match_rule from being saved:</h2>
    <ul>
    <% @match_rule.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :match_string %><br />
    <%= f.text_field :match_string, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rule_type %><br />
    <%= f.select :rule_type, MatchRule.rule_types.keys.map { |rule_type| [rule_type.humanize, rule_type]}, {}, {class: "form-control"} %>

  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= link_to 'Back', organization_path(@organization), class: "btn btn-light" %>
  </div>
<% end %>